#container1{
	display: flex;
	left: 0%;
	top: 0%;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	align-items: baseline;
	}
#cornerleft{
	display: flex;
}
#container{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
#container div{
	margin-left: 10px;
	margin-right: 10px;
}
.uno{
	background-color: rgba(0, 0, 0, 1);
}
.dos{
	background-color: rgba(20, 1, 172, 0.81);
}
